* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$title-font:'Playfair Display', serif;
$text-color: #000;
$text-font: 'Jost', sans-serif;

@mixin title{
    font-family:$title-font;
    font-weight: 700;
    font-size: 64px;
    line-height: 86px;
    color: $text-color;
}

@mixin text{
    font-family:$text-font;
    font-weight:400;
    font-size: 40px;
    line-height: 58px;
    color: $text-color;
}

html,
body {
    height: 100%;
}

body {
    max-width: 1600px;
    min-width: 250px;
    margin: 0 auto;
}

// nati

.hero{
    max-width:1600px;
    background-color: #E1EBFF;
    background-size: cover;
    margin: 0 auto;
}

.hero__title{
    @include title;
    padding-top: 5%;
    padding-left: 11%;
    @media(max-width:767px) {
        font-size:52px;
    }
}

.hero__text{
    @include text;
    padding-left: 7%;
    padding-bottom: 8%;
}

.about{
    max-width:1600px;
    margin: 0 auto;
}

.about__title{
    @include title;
    padding-left: 7%;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
}

.about__list{
    .about__item {
        @include text;
        list-style: none;
        padding-bottom: 4%;
    }
    .about__item::before {
        content:url(../images/triangle.svg);
        padding-right: 3%;
    }
}

// nati

// luda
.system{
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 8%;
}

.system__title{
    @include title;
    padding-left: 7%;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
}

.system__block__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media(max-width:767px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.system__block{
    width: 30%;
    height: 40%;
    margin-bottom: 5%;
}

.vingchun{
    margin-top: 3%;
}

.kalisilat{
    margin-top: 3%;
}

.system__block-title{
    font-family: $title-font;
    font-weight:400;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    margin-bottom: 5%;
}

.system__block-text{
    font-family: $text-font;
    font-weight:400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.system__block-img{
    margin-left: 35%;
}
// luda

// tanya
.contacts {
    width: 100%;
    margin: 0 auto;
}

.contacts_howfind {
    text-align: center;
    font: bold;
    font-weight: 400;
    font-size: 64px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10%;

    @media screen and (min-width:768px) and (max-width: 1023px) {
        font-size: 56px;
    }

    @media screen and (max-width:767px) {
        font-size: 48px;
    }
}

.contacts__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
}

.contacts__details {
    display: flex;
    flex-flow: column;
    width: 42%;
    color: black;
    background: #EDEDED;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-around;

    @media screen and (max-width:767px) {
        width: 100%;
    }
}

@mixin contacttext {
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
}

.details_text1 {
    font-family: 'Playfair Display', sans-serif;
    @include contacttext;

    @media screen and (min-width:768px) and (max-width: 1023px) {
        font-size: 28px;
    }

    @media screen and (max-width:767px) {
        font-size: 20px;
    }
}

.details_text2 {
    font-family: 'Jost', sans-serif;
    @include contacttext;

    @media screen and (min-width:768px) and (max-width: 1023px) {
        font-size: 28px;
    }

    @media screen and (max-width:767px) {
        font-size: 20px;
    }
}

.map__image {
    width: 58%;

    @media screen and (max-width:767px) {
        display: none;
    }
}

.map__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    width: 100%;
    height: 117px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 1.5%;
}

.footer_copy {
    flex-grow: 25;
    padding-left: 2%;
}

.footer_wa {
    flex-grow: 1;
}

.footer_telegram {
    padding-right: 2%;
}

// tanya
