* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  max-width: 1600px;
  min-width: 250px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  max-width: 1600px;
  margin: 0 auto;
  background: #FFFFFF;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo-pic {
  width: 108px;
  height: 48px;
  background: #E1EBFF;
}

.header__logo-name {
  font-family: "Jost", serif;
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  line-height: 39px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  color: #000000;
}

.header__item {
  font-family: "Jost", serif;
  color: #000000;
  font-size: 40px;
  line-height: 58px;
  padding-right: 70px;
}

.hero {
  max-width: 1600px;
  background-color: #E1EBFF;
  background-size: cover;
  margin: 0 auto;
}

.hero__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;
  color: #000;
  padding-top: 5%;
  padding-left: 11%;
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 52px;
  }
}

.hero__text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  color: #000;
  padding-left: 7%;
  padding-bottom: 8%;
}

.about {
  max-width: 1600px;
  margin: 0 auto;
}

.about__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;
  color: #000;
  padding-left: 7%;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 8%;
}

.about__list .about__item {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  color: #000;
  list-style: none;
  padding-bottom: 4%;
}
.about__list .about__item::before {
  content: url(../images/triangle.svg);
  padding-right: 3%;
}

.system {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 8%;
}

.system__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;
  color: #000;
  padding-left: 7%;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 8%;
}

.system__block__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .system__block__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.system__block {
  width: 30%;
  height: 40%;
  margin-bottom: 5%;
}

.vingchun {
  margin-top: 3%;
}

.kalisilat {
  margin-top: 3%;
}

.system__block-title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  margin-bottom: 5%;
}

.system__block-text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.system__block-img {
  margin-left: 35%;
}

.contacts {
  width: 100%;
  margin: 0 auto;
}

.contacts_howfind {
  text-align: center;
  font: bold;
  font-weight: 400;
  font-size: 64px;
  font-family: "Playfair Display", serif;
  margin-bottom: 10%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contacts_howfind {
    font-size: 56px;
  }
}
@media screen and (max-width: 767px) {
  .contacts_howfind {
    font-size: 48px;
  }
}

.contacts__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: black;
}

.contacts__details {
  display: flex;
  flex-flow: column;
  width: 42%;
  color: black;
  background: #EDEDED;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .contacts__details {
    width: 100%;
  }
}

.details_text1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .details_text1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .details_text1 {
    font-size: 20px;
  }
}

.details_text2 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .details_text2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .details_text2 {
    font-size: 20px;
  }
}

.map__image {
  width: 58%;
}
@media screen and (max-width: 767px) {
  .map__image {
    display: none;
  }
}

.map__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  height: 117px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 1.5%;
}

.footer_copy {
  flex-grow: 25;
  padding-left: 2%;
}

.footer_wa {
  flex-grow: 1;
}

.footer_telegram {
  padding-right: 2%;
}/*# sourceMappingURL=styles.css.map */